.Note{
    margin: 0 auto;
    padding-left: calc(10px + 10.7vw);
    display: grid;
    grid-template-columns: 31.25vw 41.6vw;
    grid-column-gap: 1vw;
    grid-row-gap: 2.1vw;
    justify-items: stretch;
    align-items: stretch;
    height: 100vh;
}
.Note_Main{
    border-right:1px solid rgba(0, 0, 0, .11);
    padding-top:calc(24vh - 10px);
    display: flex;
    flex-direction: column;
    padding-right: 66px;
}
.Note_Main_Smile{
    font-size: 58px;
    position: relative;
}
.Note_Main_Smile_emoji{
    cursor: pointer;
}
.Note_Main_Smile_EmojiPicker_Item{
    cursor: pointer;
}
.Note_Main_Smile.Hidden .Note_Main_Smile_EmojiPicker{
    display: none;
}
.Note_Main_Smile_EmojiPicker{
    padding: 7px;
    background-color: #fff;
    position: absolute;
    border:1px solid rgba(0, 0, 0, 0.322);
    z-index: 99999;
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) ;
}

.Note_Main_Title{
    margin:0;
    padding: 0;
    font-size: 48px;
    max-width: 100%;
    min-width: 100%;
    font-weight: 900;
    margin-top:13px;
    border:none;
    word-break: break-word;
}

.Note_Main_Title:active{
    border: none;
}
.Note_Main_Moto{
    margin:0;
    padding: 0;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    width: 100%;
    margin-top:61px;
    display: flex;
    word-break: break-word;
    letter-spacing: 1.2px;
    display: block;
}
.Note_Main_Moto:empty::before,
.Note_Main_Moto:empty::after{
    content:"";
}
.Note_Main_Moto:before{
    content: '“';
}
.Note_Main_Moto:after{
    content: '”';
}
.Note_Additional{
    margin-top:24vh;
    margin-left:3.4vw;
}

.Note_Additional_Date_Title{
    font-size: 14px;
    font-weight: 900;
}

.Note_Additional_Date_Value{
    color: rgba(0, 0, 0, 0.33);
    font-weight: 700;
    font-size: 12px;
    margin-top:5px;
}
.Note_Additional_Date{
    margin:0;
    padding:0;
    display: flex;
    width: 23.9vw;
    justify-content: space-between;
    position: relative;
}
.Note_Additional_Description{
    margin:0;
    padding:0;
    width: 100%;
    font-size: 16px;
    line-height: 170%;
    margin-top:50px;
    word-break: break-word;
}

.Note_Additional_Date_Item{
    display: flex;
    flex-direction: column;
}
.Note_Additional_Date_Item:nth-child(2){
    margin-left:20px;
}

.Note_Additional_Other{
    display: block;
    font-size: 15px;
    margin-top:50px;
    word-break: break-word;
    line-height: 170%;
    padding-bottom: 133px;
}


.Note_Main_Moto,
.Note_Main_Title,
.Note_Main_Basic_List,
.Note_Additional_Description,
.Note_Additional_Other{
    outline: none;
    
}
.Note_Main_Moto:focus,
.Note_Main_Title:focus,
.Note_Main_Basic_List:focus,
.Note_Additional_Description:focus,
.Note_Additional_Other:focus{
    outline: none;

}

.Note_Main_Title:empty:before,
.Note_Main_Moto:empty:after,
.Note_Main_Basic_List:empty:before,
.Note_Additional_Other:empty:after,
.Note_Additional_Description:empty:before{
    content: attr(data-placeholder);
    color: rgb(187, 187, 187);
    cursor: text;
}
.Note_Main_Basic_List{
    position: relative;
    white-space: pre-wrap;
}
.Note_Main_Basic_List > ul{
    margin:0;
    padding: 0;
}
.Note_Remove:active,
.Note_Remove:focus{
    -webkit-tap-highlight-color: rgba(206, 206, 206, 0.288);
}
.Note_Remove_Icon{
    right: 40px;
    top:40px;
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .Note{
        padding-left: calc(13.7vw);
    }
    .Note_Main{
        padding-right: 3.4375vw;
    }
}

@media screen and (max-width: 660px){   
    .Note{
        margin: 0 auto;
        margin-left: 75px;
        display: flex;
        flex-direction: column;
        height: auto;
        padding-right: 33px;
        margin-top:11.19324181626188vh;
        margin-left:0px;
        padding-left: 0px;
        margin-left:70px;
        margin-bottom: 20px;
    }
    .Note_Main{
        border-right: 0px solid rgba(0, 0, 0, .11);
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        margin:0px;
        padding: 0px;
        padding-right:50px;
    }

    .Note_Additional{
        margin-top:0px
    }
    .Note_Additional_Date{
        width: 100%;
        display: none;
    }
    .Note_Main_Title{
        font-size: 24px;
    }
    .Note_Main_Moto{
        font-size: 18px;
        margin-top:21px
    }
    .Note_Additional_Description{
        margin-top:0px;
        font-size: 15px;
        margin-top:22px;
    }


    .Note_Additional_Other{
        margin-top:25px;
        padding-bottom: 20px;
    }
    .Note_Main_Basic_List:empty{
        margin-left:0;
        padding-left:0;
    }
    .Note_Main_Basic_List::after{
        content:"";
        width: 100%;
        height: 2px;
        margin-top:22px;
        background-color: black;
    }
    .Note_Additional{
        margin-left:0;  
    }
    .Notes_List_Wrap.Hidden{
        width: 50px;
    }
    .Note_Remove_Icon{
        right: 25px;
        position: absolute;
        top:25px;
        width: 14px;
        height: 15px;
    }

}