.Note_Additional_Todo{
    margin-top:50px;
    display: block;
}

.Note_Additional_Todo_Wrapper.Open .Note_Additional_Todo_Wrapper_Actions .Note_Additional_Todo_Wrapper_Actions_Expand .Note_Additional_Todo_Wrapper_Actions_Expand_Icon {
    transition: .4s;
    transform: rotate(0deg);
}



.Note_Additional_Todo_Wrapper_Main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 10px 5px 5px;
}
.Note_Additional_Todo_Wrapper_Main:focus,
.Note_Additional_Todo_Wrapper_Main:active{
    -webkit-tap-highlight-color: transparent;
}

.Note_Additional_Todo_Wrapper_Actions{
    display: flex;
    align-items: center;
}
.Note_Additional_Todo_Wrapper_Actions_Trash{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.Note_Additional_Todo_Wrapper_Actions_Trash_Icon{
    width: 14px;
    height: 15px;
    opacity: 0.5;   
}

.Note_Additional_Todo_Wrapper_Actions_Expand{
    margin-left:5px;
    transition: .4s;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Note_Additional_Todo_Wrapper_Actions_Trash:hover{
    background-color: #e9e9e9;
}

.Note_Additional_Todo_Wrapper_Actions_Expand:active{
    background-color:#e9e9e9;
}
.Note_Additional_Todo_Wrapper_Actions_Expand_Icon{
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent #000000 transparent;
    transform: rotate(180deg);
    opacity: 0.2;   
    transition: .4s;    
}

.Note_Additional_Todo_Wrapper_Main_Title{
    outline: none;
}
.Note_Additional_Todo_Wrapper_Main_Title:focus{
        outline: none;
}

.Note_Additional_Todo_Wrapper_Main_Title:empty:before{
    content: attr(data-placeholder);
    color: rgb(187, 187, 187);
    cursor: text;
}



.Note_Additional_Todo_Wrapper_Main_Title{
    font-size: 18px;
    font-weight: 900;
    max-width: 70%;
    margin-right: 10px;
    cursor: text;
    margin:0;
    padding: 0;
}
.Note_Additional_Todo_Wrapper_Actions_Remove{
    width: 30px;
    height: 30px;
    margin-left:auto;
    position: relative;
    cursor:pointer;
    margin-right: 10px;
}
.Note_Additional_Todo_Wrapper_Actions_Remove_Icon{
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    transform: scale(0.8);
    opacity: 0.2;
}
.Note_Additional_Todo_Wrapper_Actions_Remove_Icon::before,
.Note_Additional_Todo_Wrapper_Actions_Remove_Icon::after{
    top:47%;
    transform: translateY(-50%);
    left:7px;
}

.Note_Additional_Todo_Wrapper_Actions_Remove_Icon::before{
    content:"";
    position: absolute;
    width: 50%;
    height: 2px;
    display: block;
    background-color: black;
    transform: rotate(45deg);
}
.Note_Additional_Todo_Wrapper_Actions_Remove_Icon::after{
    content:"";
    position: absolute;
    width: 50%;
    height: 2px;
    display: block;
    background-color: black;
    transform: rotate(-45deg);
}
.Note_Additional_Todo_Wrapper_Main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Note_Additional_Todo_Action{
    display: flex;
    align-items: center;
    margin-top:11px;
    color:#C4C4C4;
}
.Note_Additional_Todo_Action_Add{
    display: block;
    margin-left:auto;
    width: 165px;
    height: 35px;
    background: none;
    border:1px solid #C4C4C4;
    cursor: pointer;
    font-size: 16px;
    color:#C4C4C4;
}




@media screen and (max-width: 660px){   
    .Note_Additional_Todo_Wrapper_Main_Title{
        margin:0;
        padding: 4px 0px;
        font-size: 16px;
        margin-bottom: 0px;
    }
    .Note_Additional_Todo_WrapperList{
        font-size: 16px;
        margin-top:0;
    }
    .Note_Additional_Todo{
        margin-top:33px
    }
}


