.Note_Additional_Todo_WrapperList{
    margin-top:33px;
    display:block
}
.Note_Additional_Todo_WrapperList{
    list-style: none;
    margin:0;
    padding:0;
    font-size: 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    max-height: 0px;
    overflow: hidden;
}

.Note_Additional_Todo_WrapperList_Item{
    display: flex;
    padding: 2px 0px;
    position: relative;
    align-items: flex-start ;
    justify-content: flex-start;
}
.Note_Additional_Todo_WrapperList_Item:last-child{
    margin-bottom:5px
}
.Note_Additional_Todo_WrapperList_Value{
    display: block;
    width: 75%;
    margin-left:5px;
    font-size: 16px;
}
.Note_Additional_Todo_WrapperList_Checkbox:checked ~ .Note_Additional_Todo_WrapperList_Value{
    position: relative;
    text-decoration: line-through;
    opacity: 0.4;
}

.Note_Additional_Todo_Wrapper.Open .Note_Additional_Todo_WrapperList{
    max-height: 660px;
}

.Note_Additional_Todo_WrapperList_Value{
    outline: none;
}
.Note_Additional_Todo_WrapperList_Value:focus{
    outline: none;
}

.Note_Additional_Todo_WrapperList_Value:empty::before{
    content: attr(data-placeholder);
    color: rgb(187, 187, 187);
    cursor: text;
}

@media screen and (max-width: 660px){   
    .Note_Additional_Todo_WrapperList{
        font-size: 16px;
        margin-top:0;
    }
}

