.Notes_List{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 400px;
    position: sticky;
    transition: .2s;
    max-height: 70vh;
    overflow: auto;
}
.Notes_Toggler{
    display: none;
}
.Notes_List_Wrap{
    width: 400px;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    transition: width .2s;
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.1), 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99999999;
    background: white;
}
.Notes_List_Wrap.Hidden{
    width: 90px;
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0), 1px 0px 0px 0px rgba(0, 0, 0, 0);
}
.Notes_List:hover{
    overflow: auto;
}
.Notes_List_Item:first-child{
    margin:0;
}
.Notes_List_Item:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.Notews_List_Item_Link{
    text-decoration: none;
}

.Notes_List_Item{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Notes_List_Item-Active .Notes_List_Item_Link .Notes_List_Item_IMG{
    transform: scale(1.5);
    transition:0.2s
}

.Notes_List_Item_Link{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    padding: 25px 44px;
    width: 100%;
}
.Notes_List_Item_Delete{
    padding: 5px 25px 5px 5px;
    opacity: 0;
    transition: 0.2s;
}
.Notes_List_Item:hover  .Notes_List_Item_Delete{
    opacity: 1;
    transition: 0.2s;
}
.Notes_List_Item_Title{
    margin:0;
    margin-left:46px;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.404);
    white-space: nowrap;
}

.Notes_List_Wrap.Hidden .Notes_List .Notes_List_Item{
    background:none
}
.Notes_List_Item_Link_Title{
    margin:0;
    font-size: 16px;
    margin-left:46px;
    color:rgba(0, 0, 0, 0.404);
}

.Notes_List_Item_IMG_Delete{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    border:1px solid rgba(0, 0, 0, .22);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
}
.Notes_List_Item_IMG_Delete_Icon{
    width: 8px;
    height: 2px;
    background-color: rgba(0, 0, 0, .22);
}
.Notes_Create{
    display: flex;
    width: 400px;
    display: block;
}
.Notes_List_Wrap.Hidden .Notes_Create:hover{
    background:none
}
.Notes_Create:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.Notes_Create_Link{
    display: flex;
    text-decoration: none;
    padding: 25px 44px;
}
.Notes_Create_Link:focus,
.Notes_Create_Link:active{
    -webkit-tap-highlight-color: transparent;
}
.Notes_Create_Link_Icon{
    width: 21px;
    height: 21px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 50%;
    color:rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Notes_Create_Link_Title{
    margin:0;
    font-size: 16px;
    margin-left:46px;
    color:rgba(0, 0, 0, 0.404);
    display: block;
}
.Notes_List_Wrap{
    overflow: hidden;
}

.Notes_List::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.Notes_List::-webkit-scrollbar-track {
    background-color: rgba(17, 23, 26, 0.08);
    border-radius: 10px;
}
.Notes_List::-webkit-scrollbar-thumb {
    background-color: rgba(17, 23, 26, 0.08);
    border-radius: 10px;
}

@media screen and (max-width: 660px){
    .Notes_Create_Link{
        display: flex;
        text-decoration: none;
        padding: 25px 44px 24px 25px;
    }
    .Notes_List_Item{
        padding-left:24px;
    }
    .Notes_List_Item_Link{
        padding: 25px 0px;

    }
    .Notes_Create{
        margin:0;
        display: flex;
        width: 400px;
        display: block;
    }

    .Notes_List_Wrap.Hidden{
        width: 60px;
    }


    .Notes_Toggler{
        width: 21px;
        min-height: 18px;
        margin-left:25px;
        margin-top:25px;
        position: relative;
        cursor: pointer;
        display: inline-block;
      }
      .Notes_Toggler span{
        background-color:rgba(0, 0, 0, 0.33);
        position: absolute;
        transition: .4s cubic-bezier(.8, .5, .2, 1.4);
        width:100%;
        height: 2px;
        transition-duration: 500ms
      }
      .Notes_Toggler span:nth-child(1){
        top:0px;
        left: 0px;
      }
      .Notes_Toggler span:nth-child(2){
        top:8px;
        left: 0px;
        opacity:1;
      }
      .Notes_Toggler span:nth-child(3){
        bottom:0px;
        left: 0px;
      }
      .Notes_List_Wrap:not(.Hidden) .Notes_Toggler span:nth-child(1){
        transform: rotate(45deg);
        top: 8px;
      }
      .Notes_List_Wrap:not(.Hidden) .Notes_Toggler span:nth-child(2){
        opacity:0;
        transform: translateX(-100%);
      }
      .Notes_List_Wrap:not(.Hidden) .Notes_Toggler span:nth-child(3){
        transform: rotate(-45deg);
        top: 8px;
      }

    .Notes_Create{
        display: block;
    }
    .Notes_List_Item_Create{
        display: none;
    }
    .Notes_List{
        width: 100%;
        max-height: 80%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        margin-top:18px;

    }
    .Notes_List_Wrap{
        box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0), 1px 0px 0px 0px rgba(0, 0, 0, 0);
        width: 100%;
        justify-content: space-between;
    }
    .Notes_List_Wrap.Hidden .Notes_List{
        overflow-x: auto;
        overflow-x: hidden;
    }
    .Notes_List::-webkit-scrollbar {
        display: none;
    }
    .Notes_List_Item_Delete{
        padding: 5px 25px 5px 5px;
        opacity: 1;
        transition: 0s;
    }

    .Notes_List_Item_Link:hover ~ .Notes_List_Item_Delete{
        opacity: 1;
        transition: 0s;
    }
}

/* FINISH *//* FINISH *//* FINISH *//* FINISH *//* FINISH *//* FINISH */
